@page "/"
@page "/login"
@using System.Net
@using Menu.Management.App.Model.Request.Account
@using Menu.Management.App.Model.Response
@using System.Text.Json;
@using System.ComponentModel.DataAnnotations
@using Blazored.FluentValidation
@layout CustomLayout
@inject NavigationManager _NavigationManager
@inject SweetAlertService _swal
@inject ConfigManager _configManager;
@inject HttpClientHelper _httpClientHelper


<div class="container">
    <div class="row justify-content-center align-items-center authentication authentication-basic h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
            <div class="my-5 d-flex justify-content-center">
                <h4>MenuLand Hoþgeldiniz</h4>
            </div>
            <div class="card custom-card">
                <EditForm Model="@loginRequest" OnValidSubmit="LoginAsync">
                    <FluentValidationValidator />
                    <div class="card-body p-5">
                        <p class="h5 fw-semibold mb-2 text-center">Giriþ Yap</p>
                        <div class="row gy-3">
                            <div class="col-xl-12">
                                <label for="signin-username" class="form-label text-default">Kullanýcý Adý</label>
                                <InputText id="signin-username" type="text" class="form-control form-control-lg" placeholder="Kullanýcý Adý" @bind-Value="loginRequest.UserName" />
                                <ValidationMessage For="@(() => loginRequest.UserName)" />
                            </div>
                            <div class="col-xl-12 mb-2">
                                <label for="signin-password" class="form-label text-default d-block">Þifre</label>
                                <InputText id="password" type="password" class="form-control form-control-lg" placeholder="Þifre" @bind-Value="loginRequest.Password" />
                                <ValidationMessage For="@(() => loginRequest.Password)" />
                                <div class="mt-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                        <label class="form-check-label text-muted fw-normal" for="defaultCheck1">
                                            Beni Hatýrla ?
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 d-grid mt-2">
                                <button class="btn btn-lg btn-primary" type="submit">Giriþ</button>
                            </div>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

<script src="_content/CurrieTechnologies.Razor.SweetAlert2/sweetAlert2.min.js"></script>

@code {

    private LoginRequest loginRequest = new();
    private LoginRequestValidator validator = new LoginRequestValidator();

    private async Task LoginAsync()
    {
        string basicAuthCredentials = Convert.ToBase64String(System.Text.Encoding.GetEncoding("ISO-8859-1").GetBytes(loginRequest.UserName + ":" + loginRequest.Password));
        Dictionary<string, string> headers = new()
            {
                { "Authorization", $"Basic {basicAuthCredentials}" },
            };

        var response = await _httpClientHelper.PostAsync(null, $"{_configManager.ApiSettings.Url}Account/Login", headers);
        if (response.IsSuccessStatusCode)
            _NavigationManager.NavigateTo("/home");
    }
}
