@page "/getstarted"
@using ApexCharts
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

<h3>Haydi Başlayalım</h3>



<div class="d-flex flex-column justify-content-center align-items-center vh-100 px-5">
    <!-- Üstteki Kart -->
    <div class="col-xl-2">
        <div class="card text-center custom-card border border-success">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <div class="fw-semibold fs-18 text-fixed mb-2">Hedefinizin Tamamlanmasına</div>
                        <br />
                        <span class="d-block fs-12 text-fixed"><span class="op-7">İşlemlerin</span> <span class="fw-semibold text-success">25%</span> <span class="op-7">i tamamlandı. Hedefe bir adım daha yaklaştınız!</span>.</span>
                    </div>
                    <div id="crm-main">
                        <ApexChart TItem="CrmMain" Options=CrmMainChartOptions>
                            <ApexPointSeries TItem="CrmMain"
                                             Items="CrmMains"
                                             Color="#333335"
                                             SeriesType=SeriesType.RadialBar
                                             XValue="@(e => e.Country)"
                                             YAggregate="@(e => decimal.Round(e.Average(e => e.DiscountPercentage)))"
                                             OrderByDescending="e=>e.Y" />
                        </ApexChart>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Alt Kartlar -->
    <div class="row w-100">
        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <div class="card text-center custom-card border border-success">
                <div class="card-body">
                    <div class="mb-2">
                        <span class="avatar avatar-md">
                            <img src="../assets/images/faces/3.jpg" alt="img" class="img-fluid rounded-circle">
                        </span>
                    </div>
                    <h6 class="card-title fw-semibold">ŞİRKET KUR</h6>
                    <p class="card-text">İlk adım olarak şirketinizi oluşturun ve işletmenizi resmi hale getirin.</p>
                    <button class="btn btn-icon btn-success-transparent rounded-pill btn-w-sm btn-wave" data-bs-toggle="modal" data-bs-target="#CreateQR">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <div class="card text-center custom-card border border-success">
                <div class="card-body">
                    <div class="mb-2">
                        <span class="avatar avatar-md">
                            <img src="../assets/images/faces/3.jpg" alt="img" class="img-fluid rounded-circle">
                        </span>
                    </div>
                    <h6 class="card-title fw-semibold">RESTORAN KUR</h6>
                    <p class="card-text">Restoran bilgilerinizi ekleyerek menünüzü özelleştirmeye başlayın.</p>
                    <button class="btn btn-icon btn-success-transparent rounded-pill btn-w-sm btn-wave" data-bs-toggle="modal" data-bs-target="#CreateQR">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <div class="card text-center custom-card border border-success">
                <div class="card-body">
                    <div class="mb-2">
                        <span class="avatar avatar-md">
                            <img src="../assets/images/faces/3.jpg" alt="img" class="img-fluid rounded-circle">
                        </span>
                    </div>
                    <h6 class="card-title fw-semibold">MENU OLUŞTUR</h6>
                    <p class="card-text">Lezzetli menülerinizi düzenleyin ve müşterilerinize sunmaya hazır hale getirin.</p>
                    <button class="btn btn-icon btn-success-transparent rounded-pill btn-w-sm btn-wave" data-bs-toggle="modal" data-bs-target="#CreateQR">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <div class="card text-center custom-card border border-success">
                <div class="card-body">
                    <div class="mb-2">
                        <span class="avatar avatar-md">
                            <img src="../assets/images/faces/3.jpg" alt="img" class="img-fluid rounded-circle">
                        </span>
                    </div>
                    <h6 class="card-title fw-semibold">QR Oluştur</h6>
                    <p class="card-text">Müşterilerinizin kolayca ulaşabilmesi için menünüz için QR kod oluşturun.</p>
                    <button class="btn btn-icon btn-success-transparent rounded-pill btn-w-sm btn-wave" data-bs-toggle="modal" data-bs-target="#CreateQR">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Buton -->
    <div class="mt-3">
        <button class="btn btn-success">Haydi Başlayalım</button>
    </div>
</div>


<div class="modal fade" id="CreateQR" tabindex="-1"
     aria-labelledby="CreateQR" data-bs-keyboard="false"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="staticBackdropLabel2">
                    QR Oluştur
                </h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Libero
                    ipsum quasi, error quibusdam debitis maiores hic eum? Vitae
                    nisi
                    ipsa maiores fugiat deleniti quis reiciendis veritatis.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">
                    Save
                    Changes
                </button>
            </div>
        </div>
    </div>
</div>


@code {
    //  CrmMains Start //
    private List<CrmMain> CrmMains = DataCrmMain.CrmMain();
    private ApexChartOptions<CrmMain> CrmMainChartOptions { get; set; } = new();

    public static class DataCrmMain
    {
        public static List<CrmMain> CrmMain()
        {
            // Implement the method to return a list of CrmMain
            return new List<CrmMain>
            {
                new CrmMain { Country = "Series", DiscountPercentage = 25 },
                // Add more data points as needed
            };
        }
    }

    public class CrmMain
    {
        public string? Country { get; set; }
        public decimal DiscountPercentage { get; set; }
    }

    //  CrmMains End //
    protected override void OnInitialized()
    {
        CrmMainChartOptions = new ApexChartOptions<CrmMain>
            {
                Chart = new()
                {
                    Height = "127px",
                    Width = "100px",
                },
                Stroke = new Stroke
                {
                    LineCap = ApexCharts.LineCap.Round,
                },
                Colors = new Color(new List<string> { "var(--success-color)" }),
                PlotOptions = new PlotOptions
                {
                    RadialBar = new PlotOptionsRadialBar
                    {
                        Hollow = new Hollow
                        {
                            Margin = 0, // Set margin value
                            Size = "55%", // Set size as percentage
                            Background = "#333335", // Set background color
                        },
                        DataLabels = new RadialBarDataLabels
                        {
                            Name = new RadialBarDataLabelsName
                            {
                                Show = false
                            },
                            Value = new RadialBarDataLabelsValue
                            {
                                OffsetY = 5,
                                Color = "#333335",
                                FontSize = ".875rem",
                                Show = true,
                                FontWeight = 600
                            }
                        }
                    },
                },
            };
    }

}



