@page "/getstarted"
@using ApexCharts
@using Menu.Management.App.Model.Response
@using Newtonsoft.Json
@inject NavigationManager _NavigationManager
@inject SweetAlertService _swal
@inject ConfigManager _configManager;
@inject HttpClientHelper _httpClientHelper


@code {
    #region   CRMMAİNS CHART

    //  CrmMains Start //
    private List<CrmMain> CrmMains = DataCrmMain.CrmMain();
    private ApexChartOptions<CrmMain> CrmMainChartOptions { get; set; } = new();

    public static class DataCrmMain
    {
        public static List<CrmMain> CrmMain()
        {
            // Implement the method to return a list of CrmMain
            return new List<CrmMain>
            {
                new CrmMain { Country = "Series", DiscountPercentage = 25 },
                // Add more data points as needed
            };
        }
    }
    public class CrmMain
    {
        public string? Country { get; set; }
        public decimal DiscountPercentage { get; set; }
    }

    #endregion

    private GetStartedStatusResponse getStartedStatusResponse = new();
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        CrmMainChartOptions = new ApexChartOptions<CrmMain>
            {
                Chart = new()
                {
                    Height = "127px",
                    Width = "100px",
                },
                Stroke = new Stroke
                {
                    LineCap = ApexCharts.LineCap.Round,
                },
                Colors = new Color(new List<string> { "rgb(35, 183, 229)" }),
                PlotOptions = new PlotOptions
                {
                    RadialBar = new PlotOptionsRadialBar
                    {
                        Hollow = new Hollow
                        {
                            Margin = 0, // Set margin value
                            Size = "55%", // Set size as percentage
                            Background = "#333335", // Set background color
                        },
                        DataLabels = new RadialBarDataLabels
                        {
                            Name = new RadialBarDataLabelsName
                            {
                                Show = false
                            },
                            Value = new RadialBarDataLabelsValue
                            {
                                OffsetY = 5,
                                Color = "#333335",
                                FontSize = ".875rem",
                                Show = true,
                                FontWeight = 600
                            }
                        }
                    },
                },
            };

        await GetStartedStatus();
    }



    private async Task GetStartedStatus()
    {
        var response = await _httpClientHelper.GetAsync($"{_configManager.ApiSettings.Url}Management/GetStartedStatus");
        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            getStartedStatusResponse = JsonConvert.DeserializeObject<GetStartedStatusResponse>(content);
        }
        isLoading = false;
        StateHasChanged();
    }





}

<div class="container-fluid">
    @if (isLoading)
    {
        <p>Veriler yükleniyor...</p>
    }
    else
    {
        <!-- Start::page-header -->
        <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
            <div>
                <p class="fw-semibold fs-18 mb-0">Haydi Başlayalım</p>
            </div>
        </div>
        <!-- End::page-header -->

        <div class="row">
            <!-- Üstteki Kart -->
            <div class="row">
                <div class="col-md-4"> </div>
                <div class="col-md-4">
                    <div class="card text-center custom-card border border-secondary">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="flex-fill">
                                    <p class="mb-1 fs-5 fw-semibold text-default">İŞLEMLERİN TAMAMLANMASINA</p>
                                    <div class="progress mb-3" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" style="width: 25%">%25</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"> </div>
            </div>

            <!-- Alt Kartlar -->
            <div class="row w-100">
                <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                    <div class="card text-center custom-card border border-secondary">
                        <div class="card-body">
                            <div class="mb-2">
                                <span class="avatar avatar-md avatar-rounded bg-secondary">
                                    <i class="ti ti-building fs-16"></i>
                                </span>
                            </div>
                            <h6 class="card-title fw-semibold">ŞİRKET OLUŞTUR</h6>
                            <p class="card-text">İlk adım olarak şirketinizi oluşturun ve işletmenizi resmi hale getirin.</p>
                            <button class="btn btn-icon btn-secondary-transparent rounded-pill btn-w-sm btn-wave" data-bs-toggle="modal" data-bs-target="#CreateQR">
                                <i class="ti ti-arrow-narrow-right fs-16"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                    <div class="card text-center custom-card border border-secondary">
                        <div class="card-body">
                            <div class="mb-2">
                                <span class="avatar avatar-md avatar-rounded bg-secondary">
                                    <i class="ri-store-2-fill"></i>
                                </span>
                            </div>
                            <h6 class="card-title fw-semibold">RESTORAN OLUŞTUR</h6>
                            <p class="card-text">Restoran bilgilerinizi ekleyerek menünüzü özelleştirmeye başlayın.</p>
                            <button class="btn btn-icon btn-secondary-transparent rounded-pill btn-w-sm btn-wave" data-bs-toggle="modal" data-bs-target="#CreateQR">
                                <i class="ti ti-arrow-narrow-right fs-16"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                    <div class="card text-center custom-card border border-secondary">
                        <div class="card-body">
                            <div class="mb-2">
                                <span class="avatar avatar-md avatar-rounded bg-secondary">
                                    <i class="ri-menu-search-fill"></i>
                                </span>
                            </div>
                            <h6 class="card-title fw-semibold">MENU OLUŞTUR</h6>
                            <p class="card-text">Lezzetli menülerinizi düzenleyin ve müşterilerinize sunmaya hazır hale getirin.</p>
                            <button class="btn btn-icon btn-secondary-transparent rounded-pill btn-w-sm btn-wave" data-bs-toggle="modal" data-bs-target="#CreateQR">
                                <i class="ti ti-arrow-narrow-right fs-16"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                    <div class="card text-center custom-card border border-secondary">
                        <div class="card-body">
                            <div class="mb-2">
                                <span class="avatar avatar-md avatar-rounded bg-secondary">
                                    <i class="ri-qr-code-fill"></i>
                                </span>
                            </div>
                            <h6 class="card-title fw-semibold">QR OLUŞTUR</h6>
                            <p class="card-text">Müşterilerinizin kolayca ulaşabilmesi için menünüz için QR kod oluşturun.</p>
                            <button class="btn btn-icon btn-secondary-transparent rounded-pill btn-w-sm btn-wave" data-bs-toggle="modal" data-bs-target="#CreateQR">
                                <i class="ti ti-arrow-narrow-right fs-16"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Buton -->

            <div class="row">
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn btn-outline-secondary rounded-pill btn-wave">HAYDİ BAŞLAYALIM</button>
                </div>
            </div>


            <div class="modal fade" id="CreateQR" tabindex="-1"
                 aria-labelledby="CreateQR" data-bs-keyboard="false"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="staticBackdropLabel2">
                                QR Oluştur
                            </h6>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Libero
                                ipsum quasi, error quibusdam debitis maiores hic eum? Vitae
                                nisi
                                ipsa maiores fugiat deleniti quis reiciendis veritatis.
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">
                                Close
                            </button>
                            <button type="button" class="btn btn-primary">
                                Save
                                Changes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>





